*.swp

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.js.map
/client/*.js
/client/app/*.js

pids
logs

node_modules
/client/node_modules
rethinkdb_data
npm-debug.log
*.js.map
client/*.js
client/*.js.map
client/app/**/*.js
client/app/**/.js.map
