<div class="row">
<div class="col-md-12" *ngIf="testCaseNum < 10">

<h1>{{evol}}</h1>
  <div class="form-group">
    <button type="submit" style="float: right;background-color: #e67e22" *ngIf="testCaseNum < 10 " class="btn btn-default addfields" (click)="nextTestCase()">
         Next<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </button>
    <button type="submit" style="float: left;background-color: #e67e22" class="btn btn-default addfields" *ngIf="testCaseNum > 1 && currentTestCase > 0" (click)="previousTestCase()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Previous
    </button>
  </div>


<br><br>

          <div class="form-group" *ngIf="currentTestCase == 0">
          <label for="evol">Evol&Version</label>
          <input type="text" [(ngModel)]="evol" class="form-control" id="evol" placeholder="Version:Evol" required>
          </div>



      <div class="form-group">
          <label for="testname">TestCase{{currentTestCase + 1}}</label>
          <input type="text" [(ngModel)]="testCases[currentTestCase].name" class="form-control" id="testCase" placeholder="TestCase..." required>   
      </div>

<div class="form-group">
<label for="desc">Description</label>
    <textarea name="desc" placeholder="Plan description..." class="form-control" rows="3" style="resize: none" required [(ngModel)]="testCases[currentTestCase].description"></textarea>
</div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th><button type="submit" *ngIf="testCases[currentTestCase].steps.length < 7 " class="btn btn-success addfields"  (click)="getNextStep()">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button></th>
                                        <th>N° Step</th>
                                        <th>Description</th>
                                        <th>Expected Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let step of testCases[currentTestCase].steps">
                                        <td style="width: 2%;">
                                            <button type="button" class="btn btn-danger addfields" *ngIf="testCases[currentTestCase].steps.length > 1 " (click)="RemoveStep(testCases[currentTestCase].steps.indexOf(step))">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                                        <td>
                                            <input type="text" readonly="readonly" value="Step {{testCases[currentTestCase].steps.indexOf(step) + 1}}" class="form-control" /></td>
                                        <td>
                                            <input type="text" [(ngModel)]=step.dn placeholder="{{step.dn}}" name="dn" class="form-control" /></td>
                                        <td>
                                            <input type="text" [(ngModel)]=step.ed name="ed" placeholder="{{step.ed}}" class="form-control"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>


<button type="button" class="btn btn-danger " style="float: right;font-size: 15px;" *ngIf="testCaseNum > 1 "(click)="removeTestCase()"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span><b>Remove TestCase</b></button>
<button type="submit" class="btn btn-success" style="float: right;font-size: 15px;" (click)="validateTemplate()"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><b>Validate</b></button>


</div>


<div class="col-md-12" *ngIf="testCaseNum == 11">


<button type="button" style="float: left;background-color: #e67e22" class="btn btn-default addfields" (click)="previousTestCase()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Previous
</button>
<br><br>

<h1>Test Plan : {{evol}}</h1>
  <table class="table table-bordered table-striped">
    <tr style="background-color: #f39c12">
      <th>TestCase</th>
      <th>Description</th>
      <th>N° Step</th>
      <th>Details</th>
      <th>Expected Result</th>
    </tr>

    <tr *ngFor="let testCase of testCases">
     
      <td>{{testCase.name}}</td>
      <td>{{testCase.description}}</td>
      <td>
        <p *ngFor="let step of testCase.steps">Step{{testCase.steps.indexOf(step) + 1}}</p>
        <br>
      </td>
      <td>

        <p *ngFor="let step of testCase.steps">{{step.dn}}</p>
      </td>
      <td>
      <p *ngFor="let step of testCase.steps">{{step.ed}}</p>
      </td>

    </tr>
      
  </table>

<button type="button" style="float: right;" class="btn btn-warning"><span class="glyphicon glyphicon-send" aria-hidden="true" (click)="sendAndSaveTestPlan()"></span><b>Save&Send</b></button>
<button style="background-color: black;float: right;" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true" (click)="pushFileToRep()"></span><b>Save</b></button>


 <textarea class="form-control" id="textArea" rows="6" style="resize: none;height: 80%;">
    {{contentTestPlan}}
 </textarea>



</div>


 </div>


 
























<!--


 <div class="row">
    <div class="col-md-12" *ngIf="stepNum < 8">
            <div class="form-group">
    			<label for="evol">Evol&Version</label>
    			<input type="text" [(ngModel)]="evol" class="form-control" id="evol" placeholder="Version:Evol" required>
			</div>

			<div class="form-group">
    			<label for="testname">TestCase</label>
    			<input type="text" [(ngModel)]="testCase" class="form-control" id="testCase" placeholder="TestCase..." required>
			</div>

<div class="form-group">
<label for="desc">Description</label>
    <textarea name="desc" placeholder="Plan description..." class="form-control" rows="3" style="resize: none" required [(ngModel)]="description"></textarea>
</div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>N° Step</th>
                                        <th>Description</th>
                                        <th>Expected Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let step of steps">
                                        <td>
                                            <input type="text" readonly="readonly" value="Step{{step.num}}" class="form-control" /></td>
                                        <td>
                                            <input type="text" [(ngModel)]=step.dn placeholder="{{step.dn}}" name="dn" class="form-control" required /></td>
                                        <td>
                                            <input type="text" [(ngModel)]=step.ed name="ed" placeholder="{{step.ed}}" class="form-control" required/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>


            <button type="submit" *ngIf="stepNum > 1 " class="btn btn-danger"  (click)="RemoveStep()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><b>Remove Step</b></button>


            <button type="submit" class="btn btn-success"  (click)="validateTemplate()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><b>Validate</b></button>

			<button type="submit" *ngIf="stepNum < 7 " class="btn btn-primary"  (click)="getNextStep()"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><b>Add Step</b></button>

	</div>

	<div class="col-md-12" *ngIf="stepNum == 8">



	<h1 style="color: #FF1493">Test Plan : {{evol}}</h1>
	<table class="table table-bordered table-striped" id="POITable">
    <tr class="danger">
    	<th>TestCase</th>
   		<th>Description</th>
   		<th>N° Step</th>
   		<th>Details</th>
   		<th>Expected Result</th>
    </tr>

    	<tr *ngFor="let step of steps">
    	<td *ngIf="step.num == 1" [attr.rowspan]="steps.length">{{testCase}}</td>
   		<td *ngIf="step.num == 1" [attr.rowspan]="steps.length">{{description}}</td>
   		<td>Step{{step.num}}</td>
   		<td>{{step.dn}}</td>
   		<td>{{step.ed}}</td>
    	</tr>
   
  </table>


    <textarea  class="form-control" id="textArea" rows="6" style="resize: none;height: 85%;">
    {{evol +'\n'+testCase+'\n'+description+'\n'+template}}
    
    </textarea>
    
    </div>

            

</div>

-->