<!--
<div class="container" style="width: 90%;">

	<h1>TagFiles Section</h1>
	<tagFile></tagFile>


 
    <h1>Test Template</h1>
    <tests></tests>

	<h1>TestPlan Section</h1>
	<plan></plan>

	
</div>
-->
<title>

  Wassup Translater</title>


<body id="page-top" class="index" >

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
        <a class="navbar-brand" href="/" style="padding:0px;" > <img src="images/sofrecom_logo.png" style="height:150% !important;display:inline-block;"><span>Test WebApp</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="/"></a>
          </li>
          <li class="page-scroll">
            <a href="#plan">Test Plan</a>
          </li>
          <li class="page-scroll">
            <a href="#conf">Test Conf</a>
          </li>
          <li class="page-scroll">
            <a href="#tag">Tag Files</a>
          </li>
          <li class="page-scroll">
            <a href="#upload">Conf From Plan</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <header class="full-width">
    <div class="container" id="maincontent" tabindex="-1">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="images/giphy.gif" alt="">
          <div class="intro-text">
            <h1 class="name">Dead simple WT testing</h1>
            <hr class="star-light">
            <span class="skills">Upload test plan, generate test Conf and push directly to Jenkins</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="plan" style="height: 100%">
    <div class="container" style="width: 85%">
   		<plan></plan>
    </div>
  </section>

  <section id="conf"  style="height: 100%">
    <div class="container" style="width: 85%">
     <tests></tests>
    </div>
  </section>

  <section id="tag"  style="height: 100%">
    <div class="container" style="width: 85%">
     <tagFile></tagFile>
    </div>
  </section>

  <section id="upload"  style="height: 100%">
    <div class="container" style="width: 85%">
     <conf-plan></conf-plan>
    </div>
  </section>

  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; Sofrecom 2017
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
