<select class="form-control" [(ngModel)]="selectedTagFile" (ngModelChange)="onSelectTagFile($event)">
<option></option>
  <option [value]="file.name" *ngFor="let file of tagFiles">{{file.name}}</option>
</select>


 <textarea class="form-control" id="textArea" rows="6" style="resize: none;height: 80%;">
    {{contentTagFile}}
 </textarea>

  <div *ngIf="selectedTagFile.length > 0">
  <!--
  <div innerHTML="{{ '<FSI_HOST_COM>=tb1n.orange.com
<FSI_HOST_OPL>=tb1n.orange.pl
<FSI_HOST_COM_HTTPS>=ssl-tb1n.orange.com
<FSI_HOST_OFR_HTTPS>=ssl-tb1n.orange.fr' | highligh : 'orange'}}"></div>

-->
    <button type="submit" class="btn btn-danger" style="float: right;" (click)="reloadTagFile(selectedTagFile)">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <b>Réinitialiser</b>
    </button>
  <button type="submit" class="btn btn-success" style="float: right;" (click)="saveTagFile()">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <b>Sauvegarder le fichier</b>
  </button>	
  </div>


<!-- The Modal -->
<div id="ModalTag" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin: 20% 20% 30%">
    <div class="modal-header">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2 style="color: black;">{{message}}</h2>
    </div>
    <div class="modal-body">
      <img style="display: block;margin: 0 auto;height: 150px;" [src]="fullPath">
    </div>
    <div class="modal-footer">
     <!-- <h3>Modal Footer</h3> -->
    </div>
  </div>

</div>